@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=National+Park:wght@200..800&family=Solway:wght@300;400;500;700;800&family=PT+Sans:wght@400;700&family=Source+Serif+Pro:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'DREAM PLANNER';
  src: url('/fonts/dreamplanner.woff2') format('woff2'),
       url('/fonts/dreamplanner.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ember & Fire';
  src: url('/fonts/ember-and-fire.woff2') format('woff2'),
       url('/fonts/ember-and-fire.woff') format('woff')
       url('/fonts/ember-and-fire.ttf') format('ttf');
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@theme {
  --font-amatic: 'Amatic SC', sans-serif;
  --font-ember-and-fire: 'Ember & Fire', sans-serif;
  --font-national-park: 'National Park', sans-serif;
  --font-solway: 'Solway', serif;
  --font-dream-planner: 'DREAM PLANNER', Impact, 'Arial Black', sans-serif;
  --font-pt-sans: 'PT Sans', sans-serif;
  --font-source-serif-pro: 'Source Serif Pro', serif;
  
  --animate-fish-swim-1: fish-swim 64s linear infinite;
  --animate-fish-swim-2: fish-swim 70s linear infinite;
  --animate-cloud-float-right: float-left-right 20s ease-in-out alternate infinite;

  @keyframes fish-swim {
    0%        { transform: translateX(0px) scaleX(1); }
    49.9999%  { transform: translateX(-50vw) scaleX(1); }
    50%       { transform: translateX(-50vw) scaleX(-1); }
    100%      { transform: translateX(0px) scaleX(-1); }
  }

  @keyframes float-left-right {
    0% { transform: translateX(-5vw); }
    100% { transform: translateX(0vw); }
  }
}
